@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Sedan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}
.Logo {
    width: 10%;
    border-radius: 50%;
    border: 1px solid black;
    margin: 20px;
}
.header-container {
    display: flex;
    justify-content: center;
}
.main-container {
    margin: 5%;
    display: flex;
    justify-content: center;
}
h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    position: absolute;
    top: 30px;
}
.formulaire-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    width: 20%;
    aspect-ratio: 1;
    border-radius: 13px;
    gap: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.527);
    position: relative;
}
input {
    text-align: center;
    border-radius: 10px;
    padding: 4px;
    border: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.527);
}












.footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.486);
}
 footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 2%;
 }
 footer li {
    cursor: pointer;
 }
 footer li:hover {
    text-decoration: underline;
 }